.App {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App .card {
  position: relative;
  top: 50px;
  bottom: 20px;
  border: solid 0.2px lightgrey;
  border-radius: 20px;
  box-shadow: 10px 5px 5px lightgray;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App .form-group {
  padding-top: 20px;
}

.App .text-box {
  margin-right: 5px;
}

.App .btn-light {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  transition: all 0.3s ease 0s;
  background-color: #ffd8a5;
  color: white;
  margin-right: 5px;
}

.App .btn-light:hover {
  background-color: white;
  border-color: white;
  color: black;
}

.App .source-code {
  color: white;
}

.App .source-code:hover {
  color: black;
}

.App .name {
  color: black;
}

.App .name:hover {
  color: white;
}

.App footer p {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  padding-top: 15px;
}

.App footer a {
  color: white;
}

.App footer a:hover {
  color: orangered;
}