

.WeatherForecast-day {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}
  

.WeatherForecast-temperature {
  font-size: 13px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 3px;
  font-family: "Work Sans", sans-serif;
}